.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) 300px);
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 100%);
    justify-content: space-between;
    box-shadow: 6px 6px 6px rgba(122, 122, 122, 0.212);
}




@media only screen and (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
    }
  }

.title{
    font-family: "Blonde";
    margin-bottom: 5px;
    font-size: larger;
}

.iconContainer{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;;
}


@media only screen and (max-width: 600px) {
    .iconContainer {
        display: flex;
        flex-wrap: nowrap;
        flex-flow: nowrap;
    }
  }
.icons{
    display: flex;
    flex-direction: row;
}

.icons img {
    width: 25px;
    height: 25px;
}
.icons div{
    color: black;
    padding: 5px;
}
.techIcons{
    display: flex;
    flex-direction: row;
}
.techIcons div{
    padding: 5px;
}