.main{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right bottom, rgb(174, 174, 230) 0%, rgba(0,212,255,1) 100%);
        font-family: "Poppins", sans-serif;
        flex-direction: column;
}

.glass{
        background: rgb(2,0,36);
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
        min-height: 90vh;
        width: 80%;
        border-radius: 2rem;
        display: flex;
}

@media only screen and (max-width: 600px) {
  .glass {
    flex-direction: column;
  }
}

.img{
  border-radius: 50%;
}

.dashboard{
    background-color: aliceblue;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 2rem 0 0 2rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.link {
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 3rem;
    min-width: 100px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    color: black;
    background: rgb(2,0,36);
    background: linear-gradient(to right bottom, rgb(174, 174, 230) 0%, rgba(0,212,255,1) 100%);
  }

  .link:hover{
    background: linear-gradient(to right bottom, rgb(202, 202, 255) 0%, rgb(120, 233, 255) 100%);
  }

.app{
    margin: 1.5rem;
    flex: 2.5;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 2rem;
    overflow:auto;
    max-height: 80vh;
}