.timelineDiv{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 100%);
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 6px 6px 6px rgba(155, 172, 207, 0.212);
    padding: 15px;
    max-height: 250px;
}

.header{
    position: relative;
    top: -30px;
}

.content{
    position: relative;
    bottom: 60px;
}